---
import Layout from "../layouts/Layout.astro";
---

<Layout title="TOMIR" description="">
    <section class="px-10  lg:px-72">
        <article>
            <br><h2 class="font-bold">Ansiedad</h2>
            <h3 class="font-semibold">¿Qué es la ansiedad?</h3>
            <p></p>
        </article>
    </section>
</Layout>