---
import Layout from '../layouts/layout.astro'
import Footer from '../components/footer.astro';
import Content from '../components/content.astro';
---

<Layout title="TOMIR" description="TOMIR es una blog creado para informar sobre qué son y cómo funcionan los diferentes transtornos mentales que padece un porcentaje importante de la población tales como la depresión, ansiedad, tdah, anorexia y bulimia.">
	<main class="px-10  lg:px-72">
		<Content />
	</main>
	<Footer />
</Layout>

<style>

</style>
