---
import Layout from '../layouts/Layout.astro'
import Footer from '../components/Footer.astro';
import Content from '../components/Content.astro';
import Ayuda from '../components/Ayuda.astro';
---

<Layout title="TOMIR" description="TOMIR es una blog creado para informar sobre qué son y cómo funcionan los diferentes transtornos mentales que padece un porcentaje importante de la población tales como la depresión, ansiedad, tdah, anorexia y bulimia.">
	<main>
		<Content />
		<Ayuda />
	</main>
	<Footer />
</Layout>

<style>

</style>
