---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import Content from '../components/Content.astro';
---

<Layout title="TOMIR" description="">
	<main class="px-10  lg:px-72">
		<Content />
	</main>
	<Footer />
</Layout>

<style>

</style>
