---
import Bitem from '../components/Bitem.astro';
---
<div class="grid grid-cols-4 auto-rows-[12rem] gap-6">
    <Bitem  class="col-span-6 md:col-span-2 flex justify-center items-center bg-gradient-to-r from-gray-100 to-gray-200 hover:from-gray-200 hover:to-gray-100  " title="Ansiedad" />
    <Bitem class="col-span-6 md:col-span-2 flex justify-center items-center bg-gradient-to-r from-gray-100 to-gray-200 hover:from-gray-200 hover:to-gray-100"title="Depresión"/>
    <Bitem class="col-span-6 md:col-span-2 flex justify-center items-center bg-gradient-to-r from-gray-100 to-gray-200 hover:from-gray-200 hover:to-gray-100"title="TDAH"/>
    <Bitem class="col-span-6 md:col-span-2 flex justify-center items-center bg-gradient-to-r from-gray-100 to-gray-200 hover:from-gray-200 hover:to-gray-100"title="Anorexia y Bulimia"/>
</div>