---
import Bitem from '../components/Bitem.astro';
---
<div class="grid grid-cols-4 auto-rows-[12rem] gap-6 my-6 ">
    <Bitem  class="col-span-6 lg:col-span-2 flex justify-center items-center " title="Ansiedad" />
    <Bitem class="col-span-6 lg:col-span-2 flex justify-center items-center"title="Depresión"/>
    <Bitem class="col-span-6 lg:col-span-2 flex justify-center items-center"title="TDAH"/>
    <Bitem class="col-span-6 lg:col-span-2 flex justify-center items-center"title="Autismo"/>
</div>