---
import Bitem from '../components/Bitem.astro';


---
<div class="grid grid-cols-4 auto-rows-[12rem] gap-6">
    <Bitem  class="col-span-6 md:col-span-2 flex justify-center items-center bg-gradient-to-r from-slate-100 to-white hover:from-white hover:to-slate-100  " title="Ansiedad" url='' />
    <Bitem class="col-span-6 md:col-span-2 flex justify-center items-center bg-gradient-to-r from-slate-100 to-white hover:from-white hover:to-slate-100"title="Depresión" url=''/>
    <Bitem class="col-span-6 md:col-span-2 flex justify-center items-center bg-gradient-to-r from-slate-100 to-white hover:from-white hover:to-slate-100"title="TDAH" url=''/>
    <Bitem class="col-span-6 md:col-span-2 flex justify-center items-center bg-gradient-to-r from-slate-100 to-white hover:from-white hover:to-slate-100"title="Anorexia y Bulimia" url=''/>
</div> 