---
interface Props {
    class?: string
    title:string
}
const {title} = Astro.props
---

<article class ={`${Astro.props.class} relative rounded-xl backdrop-blur-xl border border-black/10  col-span-2 font-semibold text-black hover:scale-110 transition ease-in-out delay-150`}>
    <h3>{title}</h3>
</article>
