---
import Bento from "./Bento.astro";
---

<div class="px-10 lg:px-72">
  <section>
    <article>
      <h1 class="text-2xl font-bold my-4">¡BIENVENIDO!</h1>
      <p class="text-pretty text-lg">
        <b>TOMIR</b> es una página informativa que busca dar a conocer a los usuarios
        sobre qué son y cómo afectan los diferentes transtornos mentales más comunes
        en las personas, con el fin de comprender lo que sucede cuando se tiene uno
        o varios de estos.
      </p>
      <ol class="list-disc px-6 text-lg">
        <li class="font-thin">
          Nuestro fin no es diagnosticar ningún tipo de padecimiento.
        </li>
        <li class="font-thin">No somos especialistas en salud.</li>
        <li class="font-thin">
          Nuestra página web no tiene como finalidad lucrar de ninguna manera.
        </li>
      </ol>
    </article>
  </section>
  <section>
    <article>
      <h2 class="text-2xl font-bold my-4">TRANSTORNOS MÁS COMUNES</h2>
    </article>
    <Bento />
    <p class="text-center text-sm my-2 font-thin">
      <small>Haz click sobre el transtorno que desees conocer.</small>
    </p>

    <details class="text-lg">
      <summary><strong>Fuentes</strong></summary>
      <p>
        La información presentada en este blog es oficial y proviene de:
        <ul>
          <li>
            <a
              class=""
              href="https://www.paho.org/sites/default/files/2020-09/MentalHealth-profile-2020%20Mexico%20esp.pdf"
              aria-label="Enlace a la Organización Panamericana de la Salud (PAHO)"
              >Pan American Health Organization (PAHO).</a
            >
          </li>
          <li>
            <a
              class=""
              href="http://data.salud.cdmx.gob.mx/portal/images/portal/inicio/general/archivo_pdf/TRASTORNOS%20MENTALES%20COMUNES.pdf" aria-label="Enlace al reporte sobre transtornos mentales de la Ciudad de Mexico"
              >Ciudad de Mexico (CDMX).</a
            >
          </li>
          <li>
            <a href="https://www.who.int/es" aria-label="Enlace a la OMS"
              >Organizacion Mundial de la Salud (OMS)</a
            >
          </li>
          <li>
            <a href="https://www.cdc.gov/spanish/" aria-label="Enlace a la CDC"
              >Centros para el Control y la Prevención de Enfermedades (CDC)</a
            >
          </li>
          <li>
            <a href="https://www.mayoclinic.org/es" aria-label="Enlace a Mayo Clinic">Mayo Clinic</a>
          </li>
          <li>
            <a href="https://www.menteamente.com/" aria-label="Enlace a la web menteAmente">menteAmente</a>
          </li>
          <li>
            <a href="https://truecare.org/es/" aria-label="Enlace a TrueCare">TrueCare</a>
          </li>
        </ul>
      </p>
    </details>
  </section>
</div>
