<section>
<article >
<h1 class="text-center text-2xl font-bold my-6">¡BIENVENIDO!</h1>
<p class="text-pretty"><b>TOMIR</b> es una página informativa que busca dar a conocer a los usuarios sobre qué son y cómo afectan los diferentes transtornos mentales en las personas, con el fin de comprender lo que sucede cuando se tiene uno o varios de estos. </p>
<ol class=" list-disc px-6">
    <li class="font-thin">Nuestro fin no es diagnosticar ningún tipo de padecimiento.</li>
    <li class="font-thin">No somos especialistas en salud.</li>
    <li class="font-thin">Nuestra página web no tiene como finalidad lucrar de alguna manera.</li>
</ol>
</article>
</section>
<section class="my-6">
    <article>
        <h2 class="text-center text-2xl font-bold">TRANSTORNOS MÁS COMUNES</h2>
    </article>
</section>