---
import Bento from "./Bento.astro";
---

<section>
  <article>
    <h1 class="text-center text-2xl font-bold my-4">¡BIENVENIDO!</h1>
    <p class="text-pretty">
      <b>TOMIR</b> es una página informativa que busca dar a conocer a los usuarios
      sobre qué son y cómo afectan los diferentes transtornos mentales más comunes
      en las personas, con el fin de comprender lo que sucede cuando se tiene uno
      o varios de estos.
    </p>
    <ol class="list-disc px-6">
      <li class="font-thin">
        Nuestro fin no es diagnosticar ningún tipo de padecimiento.
      </li>
      <li class="font-thin">No somos especialistas en salud.</li>
      <li class="font-thin">
        Nuestra página web no tiene como finalidad lucrar de ninguna manera.
      </li>
    </ol>
  </article>
</section>
<section>
  <article>
    <h2 class="text-center text-2xl font-bold my-4">TRANSTORNOS MÁS COMUNES</h2>
  </article>
  <Bento />
  <p class="text-center text-sm my-2 font-thin"><small>Haz click sobre el transtorno que desees conocer.</small></p>
  <p class="text-xl">
    La información presentada en este blog es oficial y proviene de:
    <ul>
        <li>
            <a
            class="underline text-xl"
            href="https://www.paho.org/sites/default/files/2020-09/MentalHealth-profile-2020%20Mexico%20esp.pdf"
            >PAN AMERICAN HEALTH ORGANIZATION (PAHO).</a>
        </li>
        <li>
          <a
            class="underline text-xl"
            href="http://data.salud.cdmx.gob.mx/portal/images/portal/inicio/general/archivo_pdf/TRASTORNOS%20MENTALES%20COMUNES.pdf"
            >CDMX.</a>
        </li>
    </ul>
  </p>
</section>

<section>
  <article>
    <h3 class="font-bold text-2xl text-center my-4">AYUDA</h3>
    <p>
      Si necesitas hablar con alguien, por favor, llama a los siguientes números
      teléfonicos.
    </p>
    <ul>
      <li class="font-semibold text-balance my-4">
        <a href="https://www.defensoria.unam.mx/web/atencion-psicologica"
          >Línea de Atención Psicológica Call Center especializada en salud
          mental (UNAM):</a
        > 55-5025-0855.
      </li>
      <li class="font-semibold text-balance my-4">
        <a
          href="https://www.gob.mx/salud/conadic/acciones-y-programas/centro-de-atencion-ciudadana-contra-las-adicciones-134381"
          >Línea de la vida (GOBIERNO DE MÉXICO):</a
        > 01800 911 2000.
      </li>
      <li class="font-semibold text-balance my-4">
        <a href="https://www.saptel.org.mx/"
          >Sistema Nacional de Apoyo, Consejo Psicológico e Intervención en
          Crisis por Teléfono (SAPTEL):</a
        > (55) 5259-8121.
      </li>
    </ul>
    <p class="font-semibold text-center text-3xl my-8">
      ¡TU VIDA ES MUY IMPORTANTE!
    </p>
  </article>
</section>
