<header class="flex justify-between items-center h-20 px-40">
  <img src="icono-header.png" alt="logo TOMIR" title="logo TOMIR" width="75px" height="75px" />
  <nav>
    <ul class="flex gap-4">
      <li class="text-white text-lg">Hola</li>
      <li class="text-white text-lg">Hola</li>
    </ul>
  </nav>
</header>

<style>
    header {
        background-color: #000;
    }
</style>
