---
interface sections {
    titulo: string,
    subtitulo: string,
    text: string
}

const {titulo, subtitulo, texto} = Astro.props;
---

<section class="px-10  lg:px-72">
    <br><article>
        <h2 class="font-bold text-xl">{titulo}</h2>
        <h3 class="font-semibold text-lg">{subtitulo}</h3>
        <p>{texto}</p>
    </article>
</section>