---
import Header from "../components/Header.astro";
import "@fontsource-variable/onest";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="favicon.svg">

    <title>{title}</title>
  </head>
  <body class="bg-slate-200">
    <Header />
    <slot />
  </body>
</html>
<style is:global>
  html {
    font-family: "Onest Variable", system-ui, sans-serif;
  }
</style>
